/* small */

  @import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

header{
    text-align: center;
}

h1 a{
    text-decoration: none;
    color: black;
    font-family: 'Lora', serif;
    font-size: 50px;
}
nav{
    border-bottom: 1px solid #d0d0d0 ;
    border-top: 1px solid #d0d0d0 ;
}
.post-content{
    border-top: 1px solid #d0d0d0 ;
}
li a{
    
    text-decoration: none;
    font-family: 'Lora', serif;
    text-transform: uppercase;
    color: #666;
    }
li a:hover{
    color: #DEB887;
    background-color: #00ddff;
}

ul li {
    list-style-type: none;
}

.post-date{
    text-transform: uppercase;
    text-align: right;
    font-family: 'Lora', serif;
    font-size: 18px;
}

h2 a{
    text-decoration: none;
    color: black;
    font-family: 'Lora', serif;
    color: #666;
}
h2 a:hover{
    color: #DEB887;
    background-color: #00ddff;
}

figure {
    text-align: center;
  }
  img {
    max-width: 100%;
    height: auto; 
  }
  
  
p{
    font-family: Helvetica, Arial, sans-serif;
    color: #333
}

p a{
    color:#666
}
p a:hover{
    color: #DEB887;
    background-color: #00ddff;
}


/* large  */
@media only screen and (min-width: 55.5em) {
    h1 a{
        text-decoration: none;
        color: pink;
       

}